decorator==4.2.1
future
git+https://github.com/dadadel/pyment.git#egg=pyment
hg+https://bitbucket.org/gsakkis/memoized#egg=memoized
pandas
psycopg2
pymongo
pymysql
sqlalchemy-redshift
requests
splunk-sdk;python_version<"3.0"
SQLAlchemy
python-gitlab
pygithub
