decorator==4.2.1
future==0.16.0
git+https://github.com/dadadel/pyment.git#egg=pyment
hg+https://bitbucket.org/gsakkis/memoized#egg=memoized
pandas==0.22.0
psycopg2==2.7.4
pymongo
pymysql
sqlalchemy-redshift
requests
splunk-sdk;python_version<"3.0"
SQLAlchemy
python-gitlab
pygithub
